
  <!-- INICIO selector de MAERIA -->
  <div id="appCapsule">
  <app-titulo>
    <p titulo>Generar Incidencia</p>
    <p subtitulo *ngIf="alumno">{{alumno.apellido}}, {{alumno.nombre}}</p>
  </app-titulo>

  <app-spinner #appSpinner></app-spinner>

  <div class="section inset mt-2">
    <button
      type="button"
      class="btn btn-primary btn-sm rounded me-1 mb-1 w-100"
      (click)="cancelar()"
    >
      <ion-icon name="arrow-undo-outline"></ion-icon> Volver
    </button>
  </div>



  <form [formGroup]="camposForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <ng-container *ngIf="!alumno">
      <div class="section inset" *ngIf="!(appSpinner.spinnerCargando | async)">
        <div class="section full">
          <div class="form-group boxed">
            <div class="section-title">Seleccionar grupo</div>
              <div class="input-wrapper">
                  <select class="form-control form-select" id="materia" name="materia" [(ngModel)]="grupoSeleccionado" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="undefined" selected disabled>Seleccionar grupo</option>
                      <option [ngValue]="grupo" *ngFor="let grupo of destinatarios$ | async">{{grupo.nombre_grupo}}</option>
                  </select>
              </div>
          </div>
        </div>
      </div>

      <div class="section inset mt-2">
        <div class="section full">
          <div class="section-title">Alumno</div>
          <div class="wide-block pt-2 pb-2 table-responsive-custom text-start" >Seleccionar Alumno
            <ion-icon [name]="acordeonAbierto ? 'chevron-up-outline' : 'chevron-down-outline'" (click)="toggleAcordeon()"></ion-icon>
            <div *ngIf="acordeonAbierto">
              <table class="table table-striped" *ngIf="grupoSeleccionado?.destinatarios && grupoSeleccionado.destinatarios.length > 0;else nada">
                <thead>
                  <tr>
                    <th scope="col" class="text-start">Seleccionar Destinatarios</th>
                  </tr>
                </thead>
                <tbody *ngIf="grupoSeleccionado != undefined">
                  <tr *ngFor="let alumno of grupoSeleccionado.destinatarios">
                    <td class="align-middle text-start">{{ alumno.alumno }}</td>
                    <td class="align-middle">
                      <input class="form-check-input" type="radio" name="alumno" id="alumno"
                      [value]="alumno"
                      (change)="seleccionEstudiante(alumno)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #nada>
                <span class="text-muted">"No hay alumnos disponibles para seleccionar"</span>
              </ng-template>
            </div>
        </div>
        </div>
      </div>
   </ng-container>
    <!-- Selección de Tipo de Incidencia -->
    <div class="section inset" *ngIf="!(appSpinner.spinnerCargando | async)">
      <div class="section full">
        <div class="form-group boxed">
          <div class="section-title">Seleccionar Tipo de Incidencia</div>
          <div class="input-wrapper">
            <select
              id="incidencia"
              class="form-control form-select"
              (change)="onIncidenciaSeleccionada()"
              [(ngModel)]="incidenciaSeleccionada"
              [ngModelOptions]="{ standalone: true }"
            >
              <option [ngValue]="undefined" selected disabled>
                Seleccionar Tipo de Incidencia
              </option>
              <option *ngFor="let inc of incidencias" [ngValue]="inc">
                {{ inc.incidencia }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Detalle de Incidencia -->
    <div class="section inset mt-2" *ngIf="incidenciaSeleccionada">
      <div class="section full">
        <div class="section-title">Detalle de Incidencia</div>
          <div class="wide-block pb-1 pt-2">

              <div class="form-group boxed"
                *ngFor="let campo of incidenciaSeleccionada.detalle"
                [ngClass]="{
                  'col-12 col-md-6': campo.tipo === 'text' || campo.tipo === 'date' || campo.tipo === 'number' || campo.tipo === 'time',
                  'col-12': campo.tipo === 'textarea' || campo.tipo === 'checkbox'
                }"
              >
                <label
                  *ngIf="campo.tipo !== 'checkbox'"
                  [for]="campo.name"
                  class="form-label pt-2 mb-0 fw-bold pb-1"
                >
                  {{ campo.nombre }}
                </label>
                <ng-container [ngSwitch]="campo.tipo">
                  <!-- Campo de Texto -->
                  <input
                    *ngSwitchCase="'text'"
                    type="text"
                    class="form-control"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  />

                  <!-- Campo de Fecha -->
                  <input
                    *ngSwitchCase="'date'"
                    type="date"
                    class="form-control"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  />

                  <!-- Campo de Número -->
                  <input
                    *ngSwitchCase="'number'"
                    type="number"
                    class="form-control"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  />

                  <!-- Campo de Hora -->
                  <input
                    *ngSwitchCase="'time'"
                    type="time"
                    class="form-control"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  />

                  <!-- Campo de Área de Texto -->
                  <textarea
                    *ngSwitchCase="'textarea'"
                    class="form-control"
                    rows="3"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  ></textarea>

                  <!-- Campo de Selección -->
                  <select
                    *ngSwitchCase="'select'"
                    class="form-control form-select"
                    [formControlName]="campo.name"
                    [id]="campo.name"
                  >
                    <option [ngValue]="undefined" selected disabled>
                      Seleccionar {{ campo.nombre }}
                    </option>
                    <option *ngFor="let opcion of campo.desplegable" [ngValue]="opcion.id">
                      {{ opcion.categoria }}
                    </option>
                  </select>

                  <!-- Campo de Archivo -->
                  <div
                    class="custom-file-upload"
                    id="fileUpload1"
                    *ngSwitchCase="'file'"
                  >
                    <input
                      type="file"
                      id="fileuploadInput"
                      multiple
                      (change)="onFileChange($event)"
                      accept="image/*"
                    />
                    <label for="fileuploadInput">
                      <span>
                        <strong>
                          <ion-icon
                            name="cloud-upload-outline"
                            role="img"
                            aria-label="cloud upload outline"
                          ></ion-icon>
                          <i>Subir Archivo(s)</i>
                        </strong>
                      </span>
                    </label>
                  </div>

                  <!-- Campo de Checkbox -->
                  <div *ngSwitchCase="'checkbox'" class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      [formControlName]="campo.name"
                      [id]="campo.name"
                    />
                    <label class="form-check-label" [for]="campo.name">
                      {{ campo.nombre }}
                    </label>
                  </div>
                </ng-container>
                <app-error-formularios [control]="formControls(campo.name)" [fieldName]="campo.nombre" class="text-start"></app-error-formularios>
              </div>

              <div *ngIf="archivos && archivos.length > 0">
                <h3>Archivos Seleccionados:</h3>
                <ul>
                    <li *ngFor="let archivo of archivos; let i = index">
                        <span>{{ archivo.file.name }}</span>
                        <button type="button" class="btn btn-danger btn-sm p-0" style="margin-left: 5px;" (click)="eliminarArchivo(i)">
                          <ion-icon name="remove-circle-outline" role="img" style="margin-left: 5px;"></ion-icon></button>
                    </li>
                </ul>
              </div>
          </div>
      </div>
    </div>

    <!-- Botón de Enviar -->
    <div class="section mt-2">
      <div class="text-center dropdown">
        <button
          type="submit"
          class="btn btn-primary rounded shadowed me-1 mb-1"
          *ngIf="!(appSpinner.spinnerCargando | async)"
        >
          Enviar
        </button>
        <app-spinner></app-spinner>
      </div>
    </div>
  </form>

    <div class="section inset mt-2 mb-2" *ngIf="incidenciaSeleccionada && incidenciaSeleccionada.historial">
      <div class="section full">
          <div class="accordion wide-block pt-2 pb-2" id="accordionExample2">
            <div *ngFor="let incidencia of incidenciaSeleccionada?.historial; let i = index" class="accordion-item">
              <div class="comment-block">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion' + i">
                    <div class="item">
                      <div class="in">
                        <div class="comment-header">
                          <span class="time">{{incidencia.fecha | date: 'dd-MM-yyyy'}}</span>
                          <h4 class="title mx-2">{{incidencia.titulo}}</h4>
                        </div>
                      </div>
                    </div>
                  </button>
                </h2>
                <div [id]="'accordion' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                  <div class="accordion-body"  style="text-align: left;">
                    <div class="item">
                      <div class="in">
                        <div class="text" [innerHTML]="incidencia.descripcion"></div>

                        <div class="comment-footer">
                          <div class="comment-button">
                            {{incidencia.registro}}
                          </div>
                        </div>
                        <!--Archivos Adjuntos-->

                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>










